html, body {
  margin: 0px;
  padding: 0px;
  background-color: lightgrey;
}

canvas {
  display: block;
  padding: 10px;
}

#sketches {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 10px;
}
